*.local
.pseudo
.env
dist
dist-ssr
node_modules
data_backup

# Logs
*.log
logs
npm-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
